:root {
  background-color: #b4b5de;
  margin: 0;
  padding: 0;
  font-size: Arial;
  font-size: 20px;
  text-align: justify;

}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

}

div {
  display: flex;
  gap: 1rem;
  align-items: center;

}

iframe {
  min-width: 800px;

}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: hsl(238, 93%, 30%);
  border-radius: 1rem;
}

li {
  margin-right: 30px;
  display: flex;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

li a:hover {
  background-color: #ababf0;
  cursor: pointer
}

h1 {
  text-align: center;
}

section {}

aside {}

footer {}